<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Consumer Page</title>
</head>
<body>

<h3><%= patient.name %> was born on <%= patient.dob %></h3>

<form action="/session" method="POST">

<input type="hidden" name = "_method" value = "DELETE">

<button class='btn btn-danger btn-xs'>Sign Out</button>
</form>



</body>
</html>