<!DOCTYPE>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>


        <!-- Choose login -->
        <div class="container">
            <div id = "chooseLogin">
                <button id = "consumerLogBtn">Login as a consumer</button>
                <button id = "providerLogBtn">Login as a provider</button>
            </div>
            <form class="form-horizontal"> <!-- form -->
            <div class="form-group"> <!-- form group -->
            <label class="col-sm-4 control-label">First Name</label> <!-- label -->
            <div class="col-sm-8"> <!-- controls -->
            <input type="text" class="form-control" name="firstName" value="Andre" placeholder="" /> <!-- control -->
        </div>
        <label class="col-sm-4 control-label">Last Name</label> <!-- label -->
        <div class="col-sm-8"> <!-- controls -->
        <input type="text" class="form-control" name="lastName" value="Benjamin" placeholder="" /> <!-- control -->
    </div>
</div>
<div id="loginTemplate"></div>

<div id = "login"></div>

    </div>
</body>
</html>